* {
  box-sizing: border-box;
}

.app {
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #222;
  border-bottom: 1px solid #99c5c4;
}

.content {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.header {
}

.navbar {
  display: flex;
  justify-content: center;
  border: 1px solid #99c5c4;
  text-align: center;
}

.navbar__button {
  padding: 10px;
  color: inherit;
  font-weight: 500;
  text-decoration: inherit;
}

.selected {
  color: #99c5c4;
}

.navbar__button:hover {
  font-weight: 500;
  color: #99c5c4;
}

.typography {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: black;
  max-width: 50%;
  text-align: center;
  align-self: center;
}

.list {
  margin-top: 25px;
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50%;
  align-self: center;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.icon-placeholder {
  display: flex;
  margin: auto;
  width: 75px;
  height: 75px;
  background-color: #99c5c4;
}

.list-item {
  padding: 15px;
  margin-bottom: 25px;
  flex-grow: 1;
  max-width: 25%;
}

.list-item__title {
  padding: 10px 0 0;
  margin: 0;
}

.title {
  padding: 10px 0 0;
  margin: 0;
}

.subtitle {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.contacts {
  display: flex;
}

.contacts-item {
  padding: 15px;
  margin: 25px 0 0;
  text-align: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
}

.size-l {
  font-size: 2rem;
}

.font-weight-light {
  font-weight: 400;
}

/*
Form-related styles
*/

.label {
  font-weight: 500;
  display: flex;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

input[type="text"],
input[type="email"],
textarea,
select {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #99c5c4;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 1px #99c5c4;
}

.submit-button {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 5px 20px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 600;
  background-color: #99c5c4;
  border: 1px solid #99c5c4;
  border-radius: 4px;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #6dacab;
  background-color: #6dacab;
}

.accounts-display {
  margin-top: 20px;
}

.form-control {
  margin-bottom: 10px;
}

.error {
  font-size: 0.8rem;
  color: red;
}

.youtube-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.accounts-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 10px;
  font-size: 1rem;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

.account-table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 10px;
  font-size: 1rem;
  border-collapse: separate;
}

.account-table__header {
  display: table-header-group;
  text-align: justify;
}

.account-table__row {
  display: table-row;
  text-align: justify;
}

.account-table__row th {
  border-right: 1px solid #99c5c4;
  border-bottom: 1px solid #99c5c4;
  padding: 5px;
  font-weight: 600;
}

.account-table__row td {
  border-right: 1px solid #99c5c4;
  padding: 5px;
}

.account-table__row th:last-child,
.account-table__row td:last-child {
  border-right: none;
}

.refresh-button,
.delete-record-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 20px;
  align-items: center;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 600;
  background-color: #99c5c4;
  border: 1px solid #99c5c4;
  border-radius: 4px;
}

/*
@media (orientation: portrait) {
  @media (max-width: 1080px) {
    .content {
      max-width: 95%;
    }

    .navbar__button {
      font-size: 2rem;
    }

    .typography {
      font-size: 1.5rem;
      max-width: 90%;
    }

    .list {
      max-width: 90%;
    }

    .list-item {
      font-size: 1.7rem;
      padding: 10px;
      margin-bottom: 15px;
      flex-grow: 1;
      max-width: 25%;
    }

    .list-item__title {
      font-size: 1.5rem;
    }

    .subtitle {
    }
  }
}

@media (orientation: portrait) {
  @media (min-width: 1440px) {
    .content {
      max-width: 95%;
    }

    .navbar__button   {
      font-size: 1.5rem;
    }

    .typography {
      font-size: 1.5rem;
      max-width: 90%;
    }

    .list {
      max-width: 90%;
    }

    .list-item {
      font-size: 1.7rem;
      padding: 10px;
      margin-bottom: 15px;
      flex-grow: 1;
      max-width: 25%;
    }

    .list-item__title {
      font-size: 1.5rem;
    }

    .subtitle {
    }
  }
}
*/
